/* Dashboard.css */
.dashboard-container {
    padding: 20px;
    background-color: #f4f6f8; 
    /* Light background color for the dashboard */
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
  }
  
  .card {
    flex: 1;
    margin: 0 10px; /* Spacing between cards */
    // padding: 20px;
    border-radius: 8px;
    color: white;
    position: relative;
    
  }
  
  .primary-card {
    background-color: #4e73df; /* Primary card color */
  }
  
  .warning-card {
    background-color: #f6c23e; /* Warning card color */
  }
  
  .success-card {
    background-color: #1cc88a; /* Success card color */
  }
  
  .danger-card {
    background-color: #e74a3b; /* Danger card color */
  }
  .table-container{
    margin-top: 50px;
  }

  
  .chart-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .chart {
    flex: 1;
    margin: 0 10px; /* Spacing between charts */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // height: 50vh;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .active {
    background-color: lightblue;
    /* Các style khác để làm nổi bật thẻ khi được chọn */
  }