.card2{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 243, 245);
    img{
        width: 350px;
        height: 28vh;
        border-radius: 10px;
    }
    .description{
        display: flex;
    }
    .button{
        &:hover{
            transform:  scale(1.05);
        }
    }
}